//For more color    overwrites, look here https://github.com/elastic/eui/blob/master/src/themes/eui/eui_colors_dark.scss

// Core
$euiColorPrimary: #056DAE;
$euiColorSecondary: hsla(230,84%,63%,1);
$euiColorAccent: hsla(201,100%,55%,1);